.authorImg {
    width: 142px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block;
    border: 7px solid $color-circle;
}
.imgFooter {
    text-align: center;
    padding: 2%;    
    display: inline-block;
}
.imageFont {
    text-align: center;
}