$font-family-base: 'Raleway', sans-serif;
$font-family-contrast: 'Lobster', sans-serif;

$font-family-base-medium-weight: 500;
$font-family-base-light-weight: 300;
$font-family-base-bold-weight: 700;
$font-family-contrast-regular-weight: 400;

$base-color: #FCFCFA;
$primary-color: #BAD9D2;
$secondary-color: #555656;
$color-circle: #D9D9D8;

$hover-primary-color: #D7EBE4;
$hover-secondary-color: #F7D814;
$hover-secondary-light-color: #FAF0AA;

$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 70px;

